@using Auora.ConDB
@inject UserService UserService
@{
    string? userId = Context.Request.Cookies["UserId"];
    User? user = null;
    if (!string.IsNullOrEmpty(userId))
    {
        user = await UserService.GetByIdAsync(userId);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auora</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Auora.styles.css" asp-append-version="true" />
</head>
<body>
    @Html.AntiForgeryToken()
    <!-- Menu topo -->
    <nav class="navbar navbar-expand-xxl fixed-top justify-content-lg-between align-items-center">
        <div class=" d-flex align-items-center">
            <img class="img-logo" src="~/media/logo-Auora.png" alt="Logo Auora" />
            <label class="text-emp navbar-brand" href="#">Auora</label>
        </div>
        <form class="search-box d-flex align-items-center">
            <input class="input-search " type="text" maxlength="1" name="name" value="" placeholder="Search..." />
            <button class="button-search-nav position-absolute d-flex rounded-circle justify-content-center align-items-center" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </form>
        <div class="toolbox d-flex align-items-center gap-3 me-4">
            <div class="notification position-relative ">
                <!-- button trigger modal notification -->
                <button type="button" class="button-notification rounded-circle border-0 border-bottom" data-bs-toggle="modal" data-bs-target="#notificationModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
                    </svg>
                </button>

            </div>

            <div class="vr"></div>

            <div class=" profile d-flex align-items-center gap-3">

                @if (user != null)
                {
                    <div class="img-user-layout rounded-circle">
                        <img src="@user.imgPath" class="" alt="Avatar" height="200">
                    </div>

                }
                else
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                }
                
                <!-- button trigger modal login -->
                @if (user != null)
                {
                    <button id="menuPerfil" data-bs-toggle="dropdown" aria-expanded="false" type="button" class="button-login rounded-2 border-0 border-bottom dropdown-toggle ps-3 pe-3 pt-1 pb-1"  data-bs-target="#loginModal" data-bs-auto-close="outside">@(user.Name.Length > 10 ? user.Name.Substring(0, 10) + "..." : user.Name)</button>

                    <ul class="dropdown-menu dropdown-menu-end bg-light-subtle me-3 shadow p-3 rounded-4" aria-labelledby="menuPerfil" style="width: 20%; max-width: 375px; min-width: 285px;">
                        <button class="close-btn" id="fecharMenu">✕</button>
                        <li class="w-100 d-flex justify-content-center">
                            <p class="fs-6">@user.Email</p>
                        </li>
                        <li class="w-100 d-flex flex-column align-items-center gap-2">
                            <div class="cont-img-profile d-flex rounded-circle">
                                <img src="@user.imgPath" class="img-profile" alt="Avatar">
                            </div>
                            <p class="fs-5">Wellcome @user.Name !!!</p>
                        </li>
                        <li class="d-flex justify-content-center">
                            <a asp-page="/EditProfille" class="linkAccountSt btn rounded border-0 p-2 w-75 mt-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person pe-1" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                </svg>
                                Edit account
                            </a>
                        </li>
                        <li class="w-100">
                            <form onsubmit="handleLogout(event)" asp-page="/Logout" class="w-100 d-flex justify-content-center">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="button-logout rounded border-0 border-bottom p-2 w-75 mt-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                    </svg>
                                    Sign out of your account
                                </button>
                            </form>
                        </li>
                        <li><hr class="dropdown-divider"></li>

                    </ul>

                    <script>
                          document.getElementById("fecharMenu").addEventListener("click", function () {
                          const menu = bootstrap.Dropdown.getInstance(document.getElementById("menuPerfil"));
                          menu.hide();
                        });
                    </script>
                }
                else
                {
                    <button type="button" class="button-login rounded-4 border-0 border-bottom ps-3 pe-3 pt-1 pb-1" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                }
            </div>
        </div>
    </nav>
    <!-- Modal Notifications -->
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModal" aria-hidden="true">
        <div class="modal-dialog notification-modal">
            <div class="modal-content">
                <div class="modal-header border-0 d-flex justify-content-between">
                    <h1 class="modal-title fs-5 fw-bolder" id="notificationModallLabel">Notifications</h1>
                    <button type="button" class="d-flex border-0 rounded-circle align-items-center" data-bs-dismiss="modal" aria-label="Close" style="width: 30px; height: 30px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                </div>

            </div>
        </div>
    </div>

    @if (user == null)
    {
        <!-- Modal Login -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
            <div class="modal-dialog login-modal slide-in-right">
                <div class="modal-content">
                    <div class="modal-header border-0 d-flex justify-content-between">

                        <div></div>
                        <button type="button" class="d-flex border-0 rounded-circle align-items-center" data-bs-dismiss="modal" aria-label="Close" style="width: 30px; height: 30px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">



                        <div class="d-flex flex-column ps-5 gap-3">
                            <h1 class="modal-title fs-4 fw-bolder">Login</h1>

                            <label>New user? <a class="link-primary" href="/RegisteUser">Create an account</a></label>
                        </div>

                        <form id="LoginForm" onsubmit="handleLogin(event)" class="mt-5 w-75 d-flex flex-column gap-4 ps-5">
                            <div id="loginErrorMessage" class="alert alert-danger" style="display: none;">
                            </div>
                            <div>
                                <label for="emailLoginModalInpt" class="form-label">Emaill address</label>
                                <input type="email" class="form-control" id="emailLoginModalInpt" name="email" value="" />
                            </div>
                            <div>
                                <label for="passwordLoginModalInpt" class="form-label">Password</label>
                                <input type="password" id="passwordLoginModalInpt" class="form-control" name="password" value="" />
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class=" btn-access w-25 rounded-4 p-2 border-0 text-center">
                                    <span class="spinner-border spinner-border-sm" role="status" style="display: none;"></span>
                                    Access
                                </button>
                            </div>

                        </form>

                        <div class="w-75 mt-5" style="border-top-style: solid; border-width: 0.1px; border-color: #7c876b; margin: auto;"></div>

                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="mt-2">or</p>

                            <button class="btn btn-outline-secondary w-50 rounded-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
                                </svg>
                                continue with Google
                            </button>
                        </div>


                    </div>



                </div>
            </div>
        </div>
    }

    <!-- Menu lateral -->

    <div class="sidebar">

        <div class="" style="border-top-style: solid; border-width: 0.1px; border-color: #7c876b45 ; width: 200px; margin: auto;"></div>
        <p class="fw-bolder m-auto ms-5 mt-3" style="color: #7c876b !important; font-size: 15px;">Discover</p>
        <ul class="nav d-flex flex-column  pt-3">
            <li class="nav-item w-100 h-100 d-flex gap-4 align-items-center">
                <div id="secao1" class="menu-active-ul rounded-end-4 position-absolute"></div>
                <a class="link-menu rounded-5 m-auto" asp-page="/Index">Find products</a>

            </li>
            <li class="nav-item w-100 h-100 d-flex gap-4 align-items-center">
                <div id="secao2" class="menu-active-ul rounded-end-4 position-absolute"></div>
                <a class="link-menu rounded-5 m-auto" asp-page="/Error">Best sellers</a>
            </li>
            <li class="nav-item dropdown-center w-100 h-100 gap-4 d-flex align-items-center">
                <div id="secao3" class="menu-active-ul rounded-end-4 position-absolute"></div>
                <button id="hairProducts" type="button" class="link-menu btn btn-drop-menu rounded-5 dropdown-toggle border-0 m-auto text-start" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hair products</button>
                <ul class="dropdown-menu" aria-labelledby="hairProducts">
                    <li><a href="#" class="dropdown-item">conditioner</a></li>
                    <li><a href="#" class="dropdown-item">shampoo</a></li>
                    <li><a href="#" class="dropdown-item">Oils</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown-center w-100 h-100 gap-4 d-flex align-items-center">
                <div id="secao4" class="menu-active-ul rounded-end-4 position-absolute"></div>
                <button id="hairProducts" type="button" class="link-menu btn btn-drop-menu rounded-5 dropdown-toggle border-0 m-auto text-start" role="button" data-bs-toggle="dropdown" aria-expanded="false">Body products</button>
                <ul class="dropdown-menu" aria-labelledby="hairProducts">
                    <li><a href="#" class="dropdown-item">conditioner</a></li>
                    <li><a href="#" class="dropdown-item">shampoo</a></li>
                    <li><a href="#" class="dropdown-item">Oils</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown-center w-100 h-100 gap-4 d-flex align-items-center">
                <div id="secao5" class="menu-active-ul rounded-end-4 position-absolute"></div>
                <button id="hairProducts" type="button" class="link-menu btn btn-drop-menu rounded-5 dropdown-toggle border-0 m-auto text-start" role="button" data-bs-toggle="dropdown" aria-expanded="false">Skincare</button>
                <ul class="dropdown-menu" aria-labelledby="hairProducts">
                    <li><a href="#" class="dropdown-item">conditioner</a></li>
                    <li><a href="#" class="dropdown-item">shampoo</a></li>
                    <li><a href="#" class="dropdown-item">Oils</a></li>
                </ul>
            </li>
        </ul>

        <div class="mt-3" style="border-top-style: solid; border-width: 0.1px; border-color: #7c876b45 ; width: 200px; margin: auto;"></div>
        <p class="fw-bolder m-auto ms-5 mt-3" style="color: #7c876b !important; font-size: 15px;">My Items</p>
        <ul class="nav d-flex flex-column  pt-3">
            <li class="nav-item w-100 h-100 d-flex gap-4 align-items-center">
                <div id="secao6" class="menu-active-ul rounded-end-4 position-absolute"></div>
                <a href="#" class="link-menu rounded-5 m-auto">Cart</a>
            </li>
            <li class="nav-item w-100 h-100 d-flex gap-4 align-items-center">
                <div id="secao7" class="menu-active-ul rounded-end-4 position-absolute"></div>
                <a href="#" class="link-menu rounded-5 m-auto">Favorites</a>
            </li>
            <li class="nav-item w-100 h-100 d-flex gap-4 align-items-center">
                <div id="secao8" class="menu-active-ul rounded-end-4 position-absolute"></div>
                <a href="#" class="link-menu rounded-5 m-auto">Orders</a>
            </li>
        </ul>

    </div>

    <!-- Conteudo principal -->
    <div class="content">

        @RenderBody()

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
                loginModal.show();
            });
        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
